# Dependencies
node_modules/
mobile/node_modules/
backend/node_modules/

# Env files
.env
backend/.env
mobile/.env

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Backend uploads
backend/uploads/

# OS
.DS_Store

# Build
mobile/android/
mobile/ios/
